---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<main class="relative py-50 min-h-full flex flex-col items-center justify-center text-light-text dark:text-dark-text px-4">
		<div class="z-10 text-center">
			<a href="/projects/3dassets">3D Assets</a>
			<a href="/projects/gamedesign">Game Design</a>
			<a href="/projects/gamedev">Game Dev</a>
		</div>
	</main>
</BaseLayout>